@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #ff7613;
    --text-color: #727171;
}
html{
    font-size: 10px;
}
body{
    font-family: inter, san-serif;
    background-color: black;
    color: white;
}

/* common style */
img{
    width: 100%;
}
.about_me{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}
.title{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

/* layouts */
.container{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background: #070707;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
@media only screen and (max-width: 760px){
    .container{
        width:100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
}
.profile {
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}
.left_column,
.right_column{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

/* profile */
.p_container{
    display: flex;
    gap: 2rem;
}
.p_image{
    max-width: 250px;
}
.l_name{
    color: white;
    font-weight: 200;
    font-size: clamp(2rem, 8vw,4rem);
    text-transform: uppercase;
    display: block;
}
.f_name{
    color: var(--primary-color);
    font-weight: 700;
    font-size: clamp(2rem,14vw,6rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}
.p_rank{
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}
@media only screen and (max-width: 760px){
    .p_container{
        flex-direction: column;
    }
    .profile{
        margin-bottom: 0;
    }
}

/* experties */
.e_list{
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}

/* Education */
table{
    width: 100%;
    border-style: solid;
    border-color: var(--primary-color);
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
th{
    width: 50%;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2;
    text-transform: uppercase;
}

/* interest */
.i_items{
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.i_item{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--text-color);
}
.i_item svg{
    width: 2rem;
}

/* Social */
.s_items{
    margin-top: 2rem;
    margin-left: 2rem;
}
.s_item{
    margin-top: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    color: var(--text-color);
    text-decoration: none;
}
.s_item:hover{
    color: var(--primary-color);
}
.s_item svg{
    width: 2rem;
}
/* contact */
.c_items{
    margin-top: 2rem;
    margin-left: 2rem;
    line-height: 2;
}